/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
/* css variables */
:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}
/*************** global styles ***************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3.3rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 300;
}
a {
  text-decoration: none;
}
/* more global styles */
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
/*************** end of global styles ***************/

/*************** navbar ***************/
/*************** end of navbar ***************/
/*************** hero ***************/

.hero {
  /* min-height: calc(100vh - 62px); */
  min-height: 100vh;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--mainWhite);
  padding: 0 1rem;
}
.hero-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}
.hero-text {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/main.jpeg") center/cover no-repeat;
  }
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-text {
    width: 70%;
  }
}
/* buttons added to global styles */
/*************** end ofhero ***************/
